.sidebar-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    min-height: 94.4%;
    width: 300px;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: rgba(0,2,11,0.85);
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid transparent;

    width: 100%;
    height: 7.5%;

    font-family: 'Scilla-Italic';
    font-size: 30px;
    color: rgba(101,150,165,255);

    position:absolute;
    top: 15px;
    left: 0;
}