.button {
   cursor: pointer;

   border: none;
   background-color: none;

   transition: background-color 0.1s;

   &:hover {
      background-color: 30%;
   }

   &:focus {
      outline: none;
   }
}

.add-task-button {
   gap: 0.125rem;

   height: 100%;
   aspect-ratio: 1/1;

   border-radius: 0.1rem;

   box-sizing: border-box;

   font-family: Verdana, Geneva, Tahoma, sans-serif;

   svg {
      box-sizing: border-box;

      height: 80%;
   }
}

.theme-changer-button {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   background-color: #F4D6BB;

   margin: 0 auto;

   border: 1px solid #000;
   border-radius: 2px; 

   &:hover {
      background-color: transparent;
   }

   &:focus {
      outline: none;
   }
}