.to-do-input {
   width: 100%;

   padding: 0.5rem;

   box-sizing: border-box;

   border: 0.1rem solid #000;
   border-radius: 0.15rem;

   font-family: Verdana, Geneva, Tahoma, sans-serif;

   &:focus {
      outline: none;
   }
}

.checked-task {
   display: none;
}