.pending-dropdown-button {
   display: flex;
   align-items: center;
   justify-content: center;

   margin-top: 0.2rem; /* НАХУЙ ОТСЮДА */

   border: 0.1rem solid #000;
   border-radius: 0.15rem;

   background-color: #f3f396;
}

.working-dropdown-button {
   display: flex;
   align-items: center;
   justify-content: center;

   margin-top: 0.1rem; /* НАХУЙ ОТСЮДА */

   border: 0.1rem solid #000;
   border-radius: 0.15rem;

   background-color: #96d7f3;
}

.done-dropdown-button {
   display: flex;
   align-items: center;
   justify-content: center;

   margin-top: 0.1rem; /* НАХУЙ ОТСЮДА */

   border: 0.1rem solid #000;
   border-radius: 0.15rem;

   background-color: #aef396;
}

.cancelled-dropdown-button {
   display: flex;
   align-items: center;
   justify-content: center;

   margin-top: 0.1rem; /* НАХУЙ ОТСЮДА */

   border: 0.1rem solid #000;
   border-radius: 0.15rem;

   background-color: #f3a096;
}
