.dropdown-div {
   display: flex;
   align-items: center;
   justify-content: center;

   position: relative;

   border: none;
   border-radius: 0.1rem;

   height: 100%;
   aspect-ratio: 1/1;

   font-family: Verdana, Geneva, Tahoma, sans-serif;

   svg {
      height: 60%;
   }
}

.dropdown-table {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;

   list-style-type: none;

   position: absolute;
   top: 100%;
}

.dropdown-button {
   height: 100%;

   padding: 8px;
}

.pending-dropdown-button {
   display: flex;
   align-items: center;
   justify-content: center;

   margin-top: 0.2rem;

   border: 0.1rem solid #000;
   border-radius: 0.15rem;

   background-color: transparent;
}

.working-dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.1rem;
 
    border: 0.1rem solid #000;
    border-radius: 0.15rem;
 
    background-color: transparent;
}

.done-dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.1rem;
 
    border: 0.1rem solid #000;
    border-radius: 0.15rem;
 
    background-color: transparent;
}
