.tasks-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   margin: 0 auto;

   width: 60%;
}

.tasks-table {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 16px;

   width: 100%;

   padding: 0;
   margin: 0;
}

.tasks-table li .task-label {
   width: 100%;
}
