.tasks-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   margin: 0;
}

.tasks-table {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 16px;

   width: 60%;

   padding: 0;
   margin: 0;
}

.tasks-table li {
   box-sizing: border-box;

   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 16px;

   padding-left: 8px;

   background-color: #dbd8d4;

   margin-top: 0.1rem;

   border: 0.1rem solid #000;
   border-radius: 0.15rem;

   height: 3rem;
   width: 100%;

   font-family: "Montserrat", sans-serif;
   font-weight: 600;
}

.tasks-table li .task-label {
   width: 100%;
}
